#{headings(all)}
  font-family: 'Source Sans Pro', sans-serif
  text-transform: uppercase
  font-weight: bold
  color: $textColor

h1
  +adjust-font-size-to(34px, 1.5)
  color: $mainColor

h2
  +adjust-font-size-to(16px)

h3

