$rowWidth: 960px
$columnGutter: 20px
$totalColumns: 12
$mobileTotalColumns: 4

$mainColor: rgb(138, 23, 0)
$backgroundColor: #fff

$linkColor: rgb(138, 23, 0)

$base-font-size: 14px
$base-line-height: 20px
