<header>
  <div class="container">
    <section class="l-header">
      <h1><a class="header-link no-underline" href="/" title="Spellhold Studios">Spellhold Studios</a></h1>
      <h2>Baldur's Gate I &amp; II Modding</h2>
    </section>
    <aside class="r-header">
      <a class="facebook" href="http://www.facebook.com/" title="Check us out on Facebook">Facebook</a>
      <a class="twitter" href="http://twitter.com/" title="Follow us on Twitter">Twitter</a>
    </aside>
  </div>
</header>
