<div class="container">
  <nav class="main-menu">
    <ul>
      <li><a href="#">Mods</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Modding news</a></li>
      <li><a href="#"><acronym title="Spellhold Studios">SHS</acronym> news</a></li>
    </ul>
  </nav>
  <nav class="secondary-menu">
    <ul>
      <li><a href="#">Companions</a></li>
      <li><a href="#">Expansions</a></li>
      <li><a href="#">Adventures</a></li>
      <li><a href="#">Graphical</a></li>
      <li><a href="#">Tweaks</a></li>
      <li><a href="#">BGT</a></li>
    </ul>
  </nav>
</div>
