<div class="container">
  <nav class="primary-menu">
    <ul>
      <li><a href="#" class="menu-link active">Mods</a></li>
      <li><a href="#" class="menu-link">Forum</a></li>
      <li><a href="#" class="menu-link">Modding news</a></li>
      <li><a href="#" class="menu-link"><acronym title="Spellhold Studios">SHS</acronym> news</a></li>
    </ul>
  </nav>
  <nav class="secondary-menu">
    <ul>
      <li><a href="#" class="menu-link active">Companions</a></li>
      <li><a href="#" class="menu-link">Expansions</a></li>
      <li><a href="#" class="menu-link">Adventures</a></li>
      <li><a href="#" class="menu-link">Graphical</a></li>
      <li><a href="#" class="menu-link">Tweaks</a></li>
      <li><a href="#" class="menu-link">BGT</a></li>
    </ul>
  </nav>
  <nav class="tertiary-menu">
    <ul>
      <li><a href="#" class="menu-link active">Male</a></li>
      <li><a href="#" class="menu-link">Female</a></li>
      <li><a href="#" class="menu-link active">Romance</a></li>
      <li><a href="#" class="menu-link">Friendship</a></li>
    </ul>
  </nav>
  <nav class="tertiary-menu">
    <ul>
      <li><a href="#" class="menu-link active">Human</a></li>
      <li><a href="#" class="menu-link">Elf &amp; Half-elf</a></li>
      <li><a href="#" class="menu-link active">Dwarf</a></li>
      <li><a href="#" class="menu-link">Halfling</a></li>
    </ul>
  </nav>
</div>
